@import 'tailwindcss';

/* 커스텀 폰트, 컬러 변수 */
@theme {
  --breakpoint-xs: 365px;
  --breakpoint-sm: 460px;
  --breakpoint-md: 640px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  --color-primary: #aa42ff;
  --color-primary-light: #d29bff;
  --color-primary-soft: #f2c0ff;

  --color-dk-primary: #0b080c;
  --color-dk-primary-light: #1b1a22;
  --color-dk-primary-soft: #3a3d46;

  --color-wt-primary: #f0f1f2;
  --color-wt-primary-light: #a1a6b4;
}

/* HTML Elements */
@layer base {
  html,
  body {
    width: 100%;
    height: 100%;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @apply bg-dk-primary text-wt-primary;
  }

  * {
    -webkit-tap-highlight-color: transparent;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }

  p {
    text-wrap: pretty;
  }

  img,
  video {
    height: auto;
    display: block;
  }

  input,
  textarea,
  select {
    font-size: 16px;
  }
}

@utility sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  /* 최신 브라우저 표준(필요하면 사용) */
  /* clip-path: inset(50%); */
  white-space: nowrap;
  border: 0;
}
