@import 'tailwindcss';

/* 커스텀 폰트, 컬러 변수 */
@theme {
  --breakpoint-xs: 365px;
  --breakpoint-sm: 460px;
  --breakpoint-md: 640px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  --color-primary: #aa42ff;
  --color-primary-light: #d29bff;
  --color-primary-soft: #f2c0ff;

  --color-dk-primary: #0b080c;
  --color-dk-primary-light: #1b1a22;
  --color-dk-primary-soft: #3a3d46;

  --color-wt-primary: #f0f1f2;
  --color-wt-primary-light: #a1a6b4;

  --color-yellow: #ffd700;
  --color-acccent: #08d9d6;
  --color-success: #4caf50;
  --color-warning: #ff9f43;
  --color-danger: #e74c3c;

  --animate-marquee: marquee 100s linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
}

/* HTML Elements */
@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /*@apply bg-dk-primary text-wt-primary;*/
  }

  * {
    -webkit-tap-highlight-color: transparent;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }

  p {
    text-wrap: pretty;
  }

  img,
  video {
    height: auto;
    display: block;
  }

  input,
  textarea,
  select {
    font-size: 16px;
  }
}

.fade-mask {
  -webkit-mask-image: -webkit-linear-gradient(
          to right,
          transparent 0%,
          black 10%,
          black 90%,
          transparent 100%
  );

  mask-image: linear-gradient(
          to right,
          transparent 0%,
          black 10%,
          black 90%,
          transparent 100%
  )
}
