@import 'tailwindcss';

/* 커스텀 폰트, 컬러 변수 */
@theme {
}

/* HTML Elements */
@layer base {
  html,
  body {
    width: 100%;
    height: 100%;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @apply bg-white text-slate-900;
  }

  * {
    -webkit-tap-highlight-color: transparent;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }

  p {
    text-wrap: pretty;
  }

  img,
  video {
    height: auto;
    display: block;
  }

  input,
  textarea,
  select {
    font-size: 16px;
  }
}

@utility sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  /* 최신 브라우저 표준(필요하면 사용) */
  /* clip-path: inset(50%); */
  white-space: nowrap;
  border: 0;
}
